*{
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 60px;
    font-family: serif ;
}
fieldset{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 50vh;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    border: solid 3px black;
}